.aboutus-container {
  display: flex;
  justify-content: space-evenly;
}
.fav-text {
  width: 40%;
  padding-top: 50px;
  /* text-align: center; */
  /* position: relative; */
}
.fav-text-h2 {
  margin-bottom: 15px;
}
.fav-text-p {
  margin-bottom: 6px;
  color: rgb(111, 114, 113);
  line-height: 16px;
}
.fav-img-about {
  width: 40%;
  height: 320px;
  width: 500px;
}
